<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/a_home.css">
</head>
<body onload="">
    <div class="container-fluid">
        <div class="alert alert-dismissible md_alert" id="md_alert" role="alert"></div>
        <div class="row top">
            <div class="bar_for_small col-sm hidden-md col-sm-12 col-xs-12 "></div>
            <div class=" left col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="left_side">
                    <div class="heading"><h3>Create User</h3></div>
                    <div class="form">
                        <form action="/admin/" id="user_add" method="post">
                            <label for="user_id">User ID</label>
                            <input type="number" id="user_id" name="user_id" required>
                            <label for="user_password">Password</label>
                            <input type="password" id="user_password" name="user_password" required>
                            <button class="login_btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="right_side">
                    <div class="heading"><h3>View User</h3></div>
                    <div class="user_rects" id="user_id_div">
                        <div class="only_user_ids" id="only_user_ids">
                            <div class="user_ol" id="user_ol">
                                <div class="user_il"><span id="only_user_id">12345</span></div>
                            </div>
                        </div>
                        <div class="view_btn">
                            <button type="submit" id="view_btn">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>    
    <script src="./admin_home.js" ></script>
</body>
</html>